
    *{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
    }
    
   .Form{
    width: 400px;
    height: 340px;
    background: white;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px goldenrod;
    padding: 20px 30px;
    border-top: 4px solid black;
    color: white;
   }
   .Form h2{
    color: black;
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
   }
   .Form input{
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
   }
   .Form{
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
   }